<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906144696409-et6uup558htq6adbp9gbojdgfcah6t6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906144696409-et6uup558htq6adbp9gbojdgfcah6t6p</string>
	<key>API_KEY</key>
	<string>AIzaSyDLFdIvPnt7FQgisHW8ZuikZ_3KSnxVaHo</string>
	<key>GCM_SENDER_ID</key>
	<string>906144696409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spikemonster.spikeMonster</string>
	<key>PROJECT_ID</key>
	<string>spikemonster-6d46d</string>
	<key>STORAGE_BUCKET</key>
	<string>spikemonster-6d46d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906144696409:ios:bde6f826c4585b2e008948</string>
</dict>
</plist>